CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=n
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_ESP_CONSOLE_UART_DEFAULT=n
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_golden.csv"
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
