venv/
build/
build_*/
ports/esp32/build_*/
ports/esp32/sdkconfig.old
bin/
.DS_Store
__pycache__/
*.csv
*.log
*.gcda
*.gcno
*.profraw
*.profdata
*.info
coverage_html/
compile_commands.json
mission_params.db
